# Created by .ignore support plugin (hsz.mobi)
config.py
.envrc
.DS_Store
.idea/
__pycache__
tweet_history.json
certifi/
certifi-2017.11.5.dist-info/
chardet/
chardet-3.0.4.dist-info/
examples/
idna/
idna-2.6.dist-info/
oauthlib/
oauthlib-2.0.6.dist-info/
requests/
requests-2.18.4.dist-info/
requests_oauthlib/
requests_oauthlib-0.8.0.dist-info/
six.py
six-1.11.0.dist-info/
tweepy/
tweepy-3.5.0.dist-info/
urllib3/
urllib3-1.22.dist-info/
congress-bot_zipped.zip
setup.cfg